/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
	display: block;
}

nav{
	height: 60px;
	position: relative;
}

nav ul{
	list-style: none;
	right: 30px;
	top: 15px;
	margin:0;
	position: absolute;
	font:Arial, Tahoma, sans-serif;
}

ul li{
	display: inline-block;
	margin: 0 0 0 10px;
	line-height: 30px;
	
}

div{
	display: block;
	padding-top: 100;
}

.logo{
	width:260px;
	height: 100px;
	margin:0 auto;
	padding-top: 120px;
}

form input{
	display: block;
	margin: 10px auto;
	height: 30px;
	width: 500px;
	border: 1px solid #ccc;
}

.buttons{
	margin-right: 500px;
	margin-left: 500px;
	border: 1px solid #eee;
	
}

footer{
	background-color: #eee;
	height: 30px;
	width: 100%;
	margin-top: 500px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	clear:both;
	display: inline-block;
}

.left{
	margin-left:0%;
	float: left;
	font:Arial, Tahoma, sans-serif;
}

.right{
	margin-right:0%;
	float: right;
	font:Arial, Tahoma, sans-serif;
}

